body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #EEEEEE;
}

.App {
  text-align: center;
  width: 100%;
  margin: 15px auto;
}

.container-drag {
  text-align: center;
}

.buckets {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.bucket {
  width: 50%;
  height: 100vh;
  background-color: #EEEEEE;
  border: solid;
}

.sticky {
  width: 100px;
}

.mainheader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  width:100%;
  margin-top: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttons {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 3rem;
  background-color: skyblue;
}

.buttons:hover {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 3rem;
  background-color: blue;
}

.task-header {
  display: inline-block;
  background-color: skyblue;
  width:100%;
}

.draggable {
  width: 200px;
  height: 200px;
  background-color: yellow;
  margin: 5px auto;
  line-height: 5em;
}
